.titre{
	background-color: rgba(190, 177, 177, 0.696) ;
    border-radius:10px ;
    border: 1px solid black;
    height: 50px;
    font-size: 25px ;
    text-align: 1000px ;
    margin-right: 300px  ;
    box-shadow: -10px 0px 30px black;
	margin-left: 0PX;
	color: white;
padding-bottom: 20PX;
text-align: center;
}

header h1 {
	padding: 20px;
}

.pizza {
	padding-left: 0px;
	font-size: 30px;
	padding-bottom: -10px;
	color: white;
	padding-top: 20PX;
	margin-left: -300PX;
	text-align: center;
}

body {
	background-image: url(3360e7ff07b6aac1e0a1d88fe7cced86.jpg);
	background-size: cover;
	background-position: 100% auto;
	background-repeat: repeat-y;
}

.menu {
	padding-left: 0px;
	font-size: 80px;
	padding-bottom: -10px;
	color: white;
	padding-top: 20PX;
	margin-left: -300PX;
	text-align: center;
}

.gredien {
	padding-left: 0px;
	font-size: 60px;
	padding-bottom: -10px;
	color: white;
	padding-top: 20PX;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.lis{
	padding-left: 0px;
	font-size: 50px;
	padding-bottom: -10px;
	color: white;
	padding-top: 20PX;
	text-align: center;
	padding-bottom: 20PX ;
	margin-bottom: 20PX;
}

.ni{
	text-decoration: underline;
}