

.titre{
    background-color: rgba(165, 42, 42, 0.696) ;
    border-radius:10px ;
    border: 1px solid black;
    height: 50px;
    font-size: 25px ;
    text-align: 1000px ;
    margin-right: 300px  ;
    box-shadow: -10px 0px 30px black;
	margin-left: 0PX;
	color: white;
    padding-bottom: 20PX;
    text-align: center;
}


body {
   background: rgb(212, 247, 56);
   background: url(./tony/ea60a47f025c3f9717875abf4b9b0a6b.jpg);

}
img{
    height: 200px;
    width: 300px;
}

header h1 {
	padding: 20px;
    font-size: 40pt;
}
h2{
    font-size: 35pt;
    color: brown;
    text-decoration: underline;
}
h3{
    font-size: 22pt;
    color: rgb(109, 51, 0);
    text-align: center;
    margin-left: 30px;
}
h4{
    font-size: 25pt;
    color: brown;
    text-decoration: underline;
}


p{
    font-style: italic;
    font-size: 23pt;
}
.pizza {
	padding-left: 0px;
	font-size: 20px;
	padding-bottom: -10px;
	color: white;
	padding-top: 20PX;
	margin-left: -300PX;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}
.bf1{
	background-color: rgb(159, 98, 0) ;
    border-radius:10px ;
    border: 1px solid black;
    height: 50px;
    font-size: 25px ;

    box-shadow: -10px 0px 30px black;
    padding-left: 0px ;
    margin-left: 20px;
    margin-right: 1150px;
    padding-top: -20px;
    padding-bottom: 320px;
	color: white;
text-align: center;
}

.SUS {
	width:100PX ;
	display: block;
	padding-left: 28px;
}

.bf2{
	background-color: rgba(174, 122, 10, 0.907) ;
    border-radius:10px ;
    border: 1px solid black;
    height: 50px;
    font-size: 25px ;
    margin-top: -372PX;
    box-shadow: -10px 0px 30px black;
    padding-left: 0px ;
    margin-left: 400px;
    margin-right: 760px;
    padding-top: -20px;
    padding-bottom: 320px;
	color: white;
text-align: center;
}

.bf3 {
    	background-color: rgba(207, 150, 5, 0.933) ;
    border-radius:10px ;
    border: 1px solid black;
    height: 50px;
    font-size: 25px ;
    margin-top: -372PX;
    box-shadow: -10px 0px 30px black;
    padding-left: 0px ;
    margin-left: 780Px;
    margin-right: 380px;
    padding-top: -20px;
    padding-bottom: 320px;
	color: white;
text-align: center;
}

.bf4 {
    	background-color: rgba(187, 154, 5, 0.912) ;
    border-radius:10px ;
    border: 1px solid black;
    height: 50px;
    font-size: 25px ;
    margin-top: 30PX;
    box-shadow: -10px 0px 30px black;
    padding-left: 0px ;
    padding-top: -20px;
    padding-bottom: 320px;
	color: white;
    text-align: center;
   margin-left: 20px;
    margin-right: 1150px;
}

.bf5 {
    	background-color: rgba(201, 150, 9, 0.926) ;
    border-radius:10px ;
    border: 1px solid black;
    height: 50px;
    font-size: 25px ;
    margin-top: -372PX;
    box-shadow: -10px 0px 30px black;
    padding-left: 0px ;
    padding-top: -20px;
    padding-bottom: 320px;
	color: white;
    text-align: center;
    margin-left: 400px;
    margin-right: 760px;
}

.bf6 {
   	background-color: rgba(187, 159, 5, 0.944) ;
    border-radius:10px ;
    border: 1px solid black;
    height: 50px;
    font-size: 25px ;
    margin-top: -372PX;
    box-shadow: -10px 0px 30px black;
    padding-left: 0px ;
    margin-left: 780Px;
    margin-right: 380px;
    padding-top: -20px;
    padding-bottom: 320px;
	color: white;
text-align: center;
}