body{
    background-color: rgb(233, 124, 41); 
    background:url(./fond.jpeg) center/cover;
    min-height: 100vh;
}
h4{
    font-size: 15pt;
}

div{color: rgb(20, 19, 18);}
.flexbox {border: ;
    border: 2px solid rgba(226, 189, 144, 0.551);
    border-radius: 10px;
    margin: 20px;
    margin-left: 20px;
    background-color: rgba(250, 235, 215, 0.499);
}
.flexbox2{
border: 2px solid rgba(230, 184, 91, 0.696);
border-radius: 10px;
margin: 20px;
background-color: rgba(250, 235, 215, 0.86);

}
img{
    height: 200px;
    width: 250px;
}
.flexbox3{
    border: 2px solid rgb(243, 166, 84);
    background: rgba(227, 220, 233, 0.496);
    display: flex;
    margin: 20px;
}
